<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Admin - Report Voli</title>
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>

<body>
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a th:href="@{/admin/dashboard}" class="nav-link">Home</a></li>
      <li class="nav-item"><a th:href="@{/logout}" class="nav-link">Log Out</a></li>
    </ul>
  </nav>

  <div class="container">
    <h1>Report Voli Futuri</h1>

    <form th:action="@{/admin/voli/report}" method="get" class="filter-form">
      <div class="form-row">

        <div class="form-group">
          <label for="cittaPartenza">Partenza:</label>
          <select id="cittaPartenza" name="cittaPartenza">
            <option value="">Seleziona...</option>
            <option th:each="a : ${aeroporti}" th:value="${a.citta}" th:text="${a.citta + ' (' + a.nazione + ')'}"
              th:selected="${a.citta == param.cittaPartenza}">
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="cittaArrivo">Arrivo:</label>
          <select id="cittaArrivo" name="cittaArrivo">
            <option value="">Seleziona...</option>
            <option th:each="a : ${aeroporti}" th:value="${a.citta}" th:text="${a.citta + ' (' + a.nazione + ')'}"
              th:selected="${a.citta == param.cittaArrivo}">
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="data">Data:</label>
          <input type="date" id="data" name="data" th:value="${param.data}" />
        </div>

        <div class="form-group button-group">
          <label>&nbsp;</label>
          <button type="submit" class="btn">Cerca</button>
        </div>

      </div>
    </form>

    <div>
      <table>
        <thead>
          <tr>
            <th>ID Volo</th>
            <th>Giorno</th>
            <th>Partenza</th>
            <th>Ora Part.</th>
            <th>Arrivo</th>
            <th>Ora Arr.</th>
            <th>Aereo</th>
            <th>Passeggeri</th>
            <th>Merci (Kg)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="volo : ${voliFuturi.content}">
            <td th:text="${volo.idVolo}">123</td>
            <td th:text="${#temporals.format(volo.giorno, 'dd/MM/yyyy')}">01/01/2024</td>
            <td th:text="${volo.cittaPartenza}">Roma</td>
            <td th:text="${#temporals.format(volo.oraPartenza, 'HH:mm')}">10:00</td>
            <td th:text="${volo.cittaArrivo}">Parigi</td>
            <td th:text="${#temporals.format(volo.oraArrivo, 'HH:mm')}">12:00</td>
            <td th:text="${volo.tipoAereo}">B737</td>
            <td th:text="${volo.passeggeri}">12</td>
            <td th:text="${volo.merci}">20</td>
            <td class="action-buttons">
              <form th:action="@{/admin/voli/cancella/{id}(id=${volo.idVolo})}" , method="post">
                <button type="submit" class="btn">Cancella</button>
              </form>
              <form th:action="@{/admin/voli/modifica/{id}(id=${volo.idVolo})}" , method="get">
                <button type="submit" class="btn">Modifica</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <span th:if="${paginaCorrente > 0}">
          <a th:href="@{/admin/voli/report(page=${paginaCorrente - 1}, size=${voliFuturi.size}, data=${param.data}, cittaPartenza=${param.cittaPartenza}, cittaArrivo=${param.cittaArrivo})}" class="btn">
            Precedente
          </a>
        </span>
      
     
        <span th:if="${paginaCorrente < totalePagine - 1}">
          <a th:href="@{/admin/voli/report(page=${paginaCorrente + 1}, size=${voliFuturi.size}, data=${param.data}, cittaPartenza=${param.cittaPartenza}, cittaArrivo=${param.cittaArrivo})}" class="btn">
            Successiva
          </a>
        </span>
      </div>

    </div>
</body>

</html>