<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Admin - Report Voli</title>
</head>

<body>

  <div>
    <h1>Report Voli Futuri</h1>

    <div>
      <table>
        <thead>
          <tr>
            <th>ID Volo</th>
            <th>Giorno</th>
            <th>Partenza</th>
            <th>Ora Part.</th>
            <th>Arrivo</th>
            <th>Ora Arr.</th>
            <th>Aereo</th>
            <th>Passeggeri</th>
            <th>Merci (Kg)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="volo : ${voliFuturi}">
            <td th:text="${volo.idVolo}">123</td>
            <td th:text="${#temporals.format(volo.giorno, 'dd/MM/yyyy')}">01/01/2024</td>
            <td th:text="${volo.cittaPartenza}">Roma</td>
            <td th:text="${#temporals.format(volo.oraPartenza, 'HH:mm')}">10:00</td>
            <td th:text="${volo.cittaArrivo}">Parigi</td>
            <td th:text="${#temporals.format(volo.oraArrivo, 'HH:mm')}">12:00</td>
            <td th:text="${volo.tipoAereo}">B737</td>
            <td th:text="${volo.passeggeri}">12</td>
            <td th:text="${volo.merci}">20</td>
            <td>
              <form th:action="@{/admin/voli/cancella/{id}(id=${volo.idVolo})}", method="post">
                <button type="submit">Cancella</button>
              </form>
              <form th:action="@{/admin/voli/modifica/{id}(id=${volo.idVolo})}", method="get">
                <button type="submit">Modifica</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</body>

</html>