<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Amministrazione</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a th:href="@{/login}" class="nav-link">Log In</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Area Amministrazione - Login</h2>

        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-container">
                <button type="submit" class="btn">Accedi</button>
            </div>
        </form>


        <div class="button-container">
            <a th:href="@{/}" class="btn">Torna alla ricerca voli</a>
        </div>

    </div>
</body>

</html>